page-editprofile {

.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc;
}
.item-md ion-avatar {
    min-width: 40px;
    min-height: 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    display: block;
    width: 102px;
    height: 102px;
    margin: auto;
}
.alert.alert-danger{
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #f00;
    bottom: 7px;
}

.main_sec{

        .input{
            font-size: 14px;
        }
.avtar_new img{
    width: 100px;
    height: 100px;
}

}


}



