page-viewdetail {

.chat.icon.icon-md.ion-md-chatboxes, .chat.icon.icon-ios.ion-ios-chatboxes{
    font-size: 2.1em;
    left: 13px;
    position: absolute;
    top: 16px;
    color:#3fb1ce;
    }


.searchbar-md .searchbar-input {
    border: 1px solid #ccc;
    box-shadow: none;
}


.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc;
}

.main_sec{
    .input{font-size: 10px;}
    p {font-size: 1.2rem;}
    button{text-transform: capitalize;}
    h2{color:#3fb1ce;}

    .item.item-md .checkbox-md {
    position: absolute;
    display: block;
    margin: 9px 16px 9px 4px;
    right: 0;
    top: 5px;
}

.item.item-ios .checkbox-ios {
     position: absolute;
    display: block;
    margin: 9px 16px 9px 4px;
    right: 0;
    top: 5px;
}

}



.tst h2 {  
    float: left;
    width: 100%;
    margin-right: 10px;
    margin-top: 0 !important;
    white-space: normal !important;
}
.card-md {
    margin:0px;
    width:100%;
}
.tst span {  
    float: left;
    width: 100%;
    white-space: normal !important;
}
.item-block{
    padding-left: 0px !important;
}
.tst{
    padding: 10px;
}


.checkbox-md-dark .checkbox-checked {
    border-color: #3fb1ce;
    background-color: #3fb1ce;
}

.checkbox-ios-dark .checkbox-checked {
    border-color: #3fb1ce;
    background-color: #3fb1ce;
}

.ftr .toolbar-background-md {
    border-color: transparent;
    background: transparent;
}

.ftr .toolbar-background-ios {
    border-color: transparent;
    background: transparent;
}

ion-card img {
    display: block;
    width: 61%;
    float: right;
    padding: 0px;
}

ion-label.label {
    text-transform: capitalize;
}
.whitespace1 ion-label {white-space: normal !important;}

ion-modal{padding:0 !important;}


}
