page-task {

.chat.icon.icon-md.ion-md-chatboxes, .chat.icon.icon-ios.ion-ios-chatboxes{
    font-size: 2.1em;
    left: 13px;
    position: absolute;
    top: 16px;
    color:#3fb1ce;
    }


.searchbar-md .searchbar-input {
    border: 1px solid #ccc;
    box-shadow: none;
}


.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc;
}

.main_sec{
    .input{font-size: 10px;}
    p {font-size: 1.2rem;   margin-top: 0;}
    button{text-transform: capitalize;  height: 25px;   padding: 0 .5em;  font-size: 1.2rem;}
    h2{color:#3fb1ce; font-size: 1.6rem; margin-bottom: 4px; font-weight: normal;     margin-top: 0;}
}


.ftr .toolbar-background-md {
    border-color: transparent;
    background: transparent;
}

 .ftr .toolbar-background-ios {
    background: transparent;
}



}
